.map-screen {
    overflow: hidden;
    height: 100vh;
}
.map-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.map-screen > a {
    position: absolute;
    z-index: 5;
    bottom: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    margin-top: 20px;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 1rem;
    background: var(--primary);
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

.map-screen .button-flex img {
    width: 24px;
}

.map-screen .flex.align-center {
    gap: 5px;
    font-size: 1rem;
}

.map-screen .flex.align-center p {
    -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
            transform: translateY(1px);
}

.map-screen .flex.align-center.battery-div .batery-container {
    -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
            transform: translateY(4px);
}

.nav-container.position-absolute {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 2;
}

#reader {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    border: none !important;
    z-index: 10;
}
.add-id-popup {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    border-radius: 1rem;
    width: calc(100vw - 2rem );
    transform: translate(-50%);
    background: var(--white);
    padding: 1rem;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.add-id-popup button {
    display: inline-block;
    width: 35%;
    padding: 0.645rem 2rem;
    border: 0;
    border-radius: 1rem;
    background: var(--primary);
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
}

.add-id-popup p {
    margin-bottom: 10px;
}

.add-id-popup .bold {
    font-weight: 600;
}

.add-id-popup input {
    width: 60%;
    margin-right: 5%;
    max-width: 600px;
    height: 40px;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 1px solid var(--black);
    font-size: 16px;
}

#reader.false {
    display: none !important;
}

#reader.true {
    display: block !important;
    z-index: 10;
}

#reader #reader__scan_region > img, #reader > div > img {
    display: none;
}

#reader #reader__scan_region, #reader #reader__scan_region video {
    /*height: calc(100vh - 200px)!important;*/
    /*width: 100vw !important;*/
    -o-object-fit: cover;
       object-fit: cover;
}
.primary-btn{
    z-index: 20!important;
}
.rescan-btn{
    bottom: 5rem!important;
}

#reader #reader__dashboard_section_csr span button {
    position: absolute;
    z-index: 100;
    bottom: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    margin-top: 20px;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 1rem;
    background: var(--primary);
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    opacity: 0 !important;
}
.info-window {
    padding-top: 0.1rem;
    z-index: 100;
}

.info-window img {
    width: 24px;
    margin-right: 2px;
}

.info-window img.img-2-info {
    width: 18px;
    margin-left: 3px;
    margin-right: 5px;
}

.info-window p {
    font-size: 12px;
}

.gm-style .gm-style-iw-c {
    -webkit-box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.1) !important;
            box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.1) !important;
}